.back-button {
  background-color: #1d6eea;
  border-radius: 10%;
  width: 12%;
  height: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #155ab8;
  transform: scale(1.05);
}
